.user-profile {
	display: flex;
	align-items: center;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: black;
	border-radius: 8px;
}
.avatar {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 20px;
}
.user-info {
	flex: 1;
}
.user-info h2 {
	color: brown;
}
.user-info p {
	color: #888;
}
