.comment-section {
	border: 1px solid #ddd;
	padding: 16px;
	margin-top: 20px;
	border-radius: 8px;
	color: black;
}
.comment {
	margin-bottom: 15px;
	padding: 10px;
	background-color: aquamarine;
	border-radius: 5px;
}
.comment-author {
	font-weight: bold;
	margin-right: 5px;
}
.comment-text {
	margin-top: 5px;
}
