.password-strength-checker {
	padding: 10px;
	border: 1px solid #ccc;
	margin-top: 2px;
}
/* Style cho input và label */
label {
	display: block;
	margin-bottom: 10px;
}
input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}
/* Hiển thị mức độ mạnh yếu của mật khẩu */
p {
	font-weight: bold;
	color: red;
}
